
bin
tmp
deps
doxygen
Doxyfile
!templates/Doxyfile
.vscode
!.vscode/spellright.dict
*.ninja
*.ninja.tmp
*.ninja.bak
.ninja_deps
.ninja_log
config.json
!templates/schemas/config.json
ninja.json
!templates/schemas/ninja.json
node_modules
package-lock.json
package.json
