
bin
tmp
deps
doxygen
Doxyfile
!templates/Doxyfile
.vscode
!.vscode/spellright.dict
!.vscode/extensions.json
*.ninja
*.ninja.tmp
*.ninja.bak
.ninja_deps
.ninja_log
ninja.json
!templates/schemas/ninja.json
node_modules
package-lock.json
package.json
